@model Crowdfunding.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Project Details</h2>

<h4>Project</h4>
<hr />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ProjectName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProjectName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProjectDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProjectDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AskedFund)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AskedFund)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Days)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Days)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.NumberOfBenefits)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.NumberOfBenefits)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.VideoUrl)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.VideoUrl)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Category)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Category.CategoryName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.User)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.UserName)
    </dd>
</dl>

<div class="container">
    @foreach (var item in Model.Benefit)
    {
        <div align="center">
            <div>Package Name: @item.BenefitName</div>
            <div>Description: @item.BenefitDesciption</div>
            <div>Price: $@item.BenefitPrice</div>
            <form asp-controller="UsersBenefits" asp-action="Create">
                <div class="form-group">
                    <input asp-for=@item.BenefitId type="hidden" name="BenefitId" class="form-control" />
                    <span asp-validation-for=@item.BenefitId class="text-danger"></span>
                    <input asp-for=@Model.ProjectId type="hidden" name="ProjectId" class="form-control" />
                </div>
                <input class="btn btn-primary" type="submit" value="Buy this Package" />
            </form>
        </div>
    }
</div>




<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
