@model IEnumerable<Crowdfunding.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchByForm" }))
{
    <div class="form-group">
        <label for="">Find by name @Html.TextBox("SearchString", null, new { @class = "form-control" })</label>
        <input type="submit" id="button-searchstring" class="btn btn-default" value="search" />
    </div>
    <div class="form-group">
        <label for="">Find by Category</label>
        @await Component.InvokeAsync("CategoriesDropdownListComponent")
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AskedFund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBenefits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AskedFund)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBenefits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    @foreach (var item in Model)
    {
        <div class=" col-md-3">
            <div class="card card-inverse card-success bg-info text-center">
                <img class="card-img-top img-fluid" src="" alt="">
                <div class="card-block">
                    <h4 class="card-title">Project: @Html.DisplayFor(modelItem => item.ProjectName)</h4>
                    <p class="card-text">Description: @Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-primary">Project Details</a>

                    <p>
                        Asked Fund: @Html.DisplayFor(modelItem => item.AskedFund)
                    </p>
                    <p>
                        Days: @Html.DisplayFor(modelItem => item.Days)
                    </p>
                    <p>
                        Benefit Packages: @Html.DisplayFor(modelItem => item.NumberOfBenefits)
                    </p>
                    <p>
                        Media: @Html.DisplayFor(modelItem => item.MediaPath)
                    </p>
                    <p>
                        Video: @Html.DisplayFor(modelItem => item.VideoUrl)
                    </p>
                    <p>
                        Start at : @Html.DisplayFor(modelItem => item.StartDate)
                    </p>
                    <p>
                        Category: @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </p>
                    <p>
                        By user: @Html.DisplayFor(modelItem => item.User.UserName)
                    </p>
                </div>
            </div>
        </div>
    }
</div>