@model IEnumerable<Crowdfunding.Models.ConcreteModels.ProjectsBenefits>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchByForm" }))
{
    <div class="form-group">
        <label for="">Find by name @Html.TextBox("SearchString", null, new { @class = "form-control" })</label>
        <input type="submit" id="button-searchstring" class="btn btn-default" value="search" />
    </div>
    <div class="form-group">
        <label for="">Find by Category</label>
        @await Component.InvokeAsync("CategoriesDropdownListComponent")
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table id ="project-create-form" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.project.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.AskedFund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.NumberOfBenefits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.Benefit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.MediaPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.AskedFund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.Benefit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.NumberOfBenefits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.MediaPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.VideoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.User.UserName)
            </td>
            <td>
                <ul>
                    <a asp-action="Edit" asp-route-id="@item.project.ProjectId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.project.ProjectId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.project.ProjectId">Delete</a>
                </ul>
            </td>
        </tr>
        }
    </tbody>
</table>
