@model Crowdfunding.Models.Benefit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Benefit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BenefitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitDesciption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitDesciption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BenefitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
