@model IEnumerable<Crowdfunding.Models.GiveItATry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>@Html.DisplayNameFor(model => model.Backer)</th>
            <th>
                Raised so far
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AskedFund)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Backer)</td>
            <td>@Html.DisplayFor(modelItem => item.Sum)</td>
            <td>$@Html.DisplayFor(modelItem => item.AskedFund)</td>
        </tr>
        }
    </tbody>
</table>
